[Unit]
Description=Your Flask Application
After=network.target

[Service]
User=<your-current-user> 
Group=<your-current-usergroup>    
WorkingDirectory=/path/to/folder/webprint
ExecStart=/path/to/folder/webprint/bin/python3 /path/to/folder/webprint/apps.py <port>
Restart=always

[Install]
WantedBy=multi-user.target
